<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size='12'>
        <ion-button size='large' expand='full' (click)='verMapa()' > Mapa Oficial </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="ion-padding">

      <ion-item lines='full'>
        <ion-label > Estado </ion-label>
        <ion-label class="ion-text-end"> Casos </ion-label>
      </ion-item>

    <ion-item lines='full' *ngFor='let estado of commons.estadosMexico; let i = index'>
      <ion-label class="ion-text-wrap">

         <ion-text color='primary'> {{i+1}} </ion-text> &nbsp; {{estado.e}}

       </ion-label>
      <ion-label class="ion-text-end"> {{estado.t | number}} </ion-label>
    </ion-item>
  </ion-list>






</ion-content>
